section.about
    .container 
        +blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga rem alias ex explicabo saepe possimus, soluta tenetur quae nostrum culpa ipsum aliquid dolore? Aut, libero at. Unde quos numquam odio.")
        .about-list 
            +aboutItem("../../images/img-about1.png", "Lorem ipsum dolor sit, amet consectetur adipisicing elit.")
            +aboutItem("../../images/img-about2.png", "Super team")
            +aboutItem("../../images/img-about3.png", "Super team")