section.team 
	.container 
		+blockBox("Who we are", "Meet our team", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione delectus suscipit nihil quae, rem aliquid, eum architecto eos quibusdam laudantium optio, cupiditate sequi nisi? Porro quam voluptatum repellat sunt laborum?") 
		.team-list 
			+teamItem("../../images/img-team1.png", "Matthew Dix", "Graphic Design")
				+teamSocial("abc", "def", "123", "456")
			+teamItem("../../images/img-team2.png", "Christopher Campbell", "Brading/UX design")
				+teamSocial("xyz")
			+teamItem("../../images/img-team3.png", "Michael Fertig", "Developer")
				+teamSocial("dfggh")
section.brand 
	.container 
		img(src="../../images/img-logos.png" alt="brands")