section.quote 
	.container 
		.quote-container 
			+quoteItem(true, "../../images/img-quote-avatar.png")
			+quoteItem(true, "../../images/img-quote-avatar.png")
			+quoteItem(true, "../../images/img-quote-avatar.png")