section.wedo 
	.container
		+blockBox("Service", "What we do", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quas repellat consectetur! Reiciendis dolorem iste laborum et voluptates ipsa tenetur, maiores excepturi facilis, quo rem, neque eius. Dicta, quod mollitia?")
		.wedo-container 
			img(src="../../images/img-wedo.png").wedo-image
			.wedo-content 
					+wedoItem("../../images/img-wedo-icon1.png", "Photography", "is-active", "fa-angle-up")
					+wedoItem("../../images/img-wedo-icon2.png", "Creativity", "", "fa-angle-down")
					+wedoItem("../../images/img-wedo-icon3.png", "Web design", "", "fa-angle-down")