.quote {
	padding: 6.5rem 0;
	background-color: $gray-color;
	&-container {
		@include flexbox(center, space-between);
	}
	&-arrow {
		color: #ccc;
		cursor: pointer;
		font-size: 3rem;
		padding: 1rem 2rem;
	}
	&-item {
		padding: 0 5.5rem;
		@include flexbox(center)
	}
	&-icon {
		@include size(15rem);
		@include flexbox(center, center);
		border: 3px solid $third-color;
		flex-shrink: 0;
		margin-right: 6rem;
	}
	&-image {
		@include size(22rem);
		object-fit: cover;
		border-radius: 50%;
		flex-shrink: 0;
		margin-right: 2.5rem;
	}
	// &-info {
	// 	padding-left: 6rem;
	// }
	&-desc {
		font-size: 2.5rem;
		font-style: italic;
		font-family: $secondary-font;
		font-weight: 300;
		line-height: 1.6;
		margin-bottom: 2.5rem;
		color: $text-color;
		@include textClamp(3);
		word-break: break-all;
	}
	&-author {
		font-family: $third-font;
		font-size: 2.5rem;
		padding-left: 8rem;
		position: relative;
		&::before {
			content: "";
			@include absoluteCenter("y");
			left: 0;
			@include size(6rem, 3px);
			background-color: $primary-color;
			border-radius: 3px;
		}
	}
	@include maxWidth(767px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
		&-arrow {
			display: none;
		}
		&-content {
			flex-direction: column;
			padding: 0;
		}
		&-icon {
			@include size(10rem);
			margin-right: 0;
			& > img {
				max-width: 50%;
			}
		}
		&-info {
			margin-top: 3rem;
		}
		&-desc {
			display: block;
			font-size: 1.6rem;
		}
		&-author {
			font-size: 2rem;
		}
	}
	@include maxWidth(767px) {
		&-icon {
			margin-right: 2rem;
		}
	}
}

// Slick slider
.slick-initialized .slick-slide {
	display: flex;
}
.slick-arrow {
	border: 0;
	border-radius: 50%;
	
	background-color: transparent;
	color: $gray-dark-color;
	cursor: pointer;
	font-size: 3rem;
	padding: 1rem 2rem;

}