html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  color: #999999;
  line-height: 1.4; }

.text--light {
  font-weight: 300; }

.text--normal {
  font-style: normal; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333333;
  font-size: 1.4rem; }

input, button {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  outline: none; }

button {
  cursor: pointer; }

.header {
  min-height: 100rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(241, 217, 138, 0.8))), url(../../images/img-header-bg.jpg) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(241, 217, 138, 0.8)), url(../../images/img-header-bg.jpg) no-repeat center/cover;
  color: white; }
  .header-logo {
    font-size: 3rem;
    font-weight: bold;
    color: white; }
  .header-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .header-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header-menu-icon {
    color: white;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .header-menu-icon:hover {
      color: #f1d98a; }
  .header-top {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-content {
    padding-top: 17rem;
    text-align: center; }
    .header-content-caption {
      font-size: 7.2rem;
      font-family: "Kaushan Script", cursive;
      margin-bottom: 3rem; }
    .header-content-main {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 15rem;
      font-family: "Montserrat", sans-serif;
      max-width: 85rem;
      margin: 0 auto;
      padding-bottom: 5rem;
      margin-bottom: 5rem;
      position: relative; }
      .header-content-main::after {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        content: "";
        bottom: 0;
        width: 6rem;
        height: 3px;
        background-color: white; }
    .header-content-more {
      color: white;
      text-transform: uppercase;
      padding: 1.2rem 3rem;
      border: 3px solid white;
      font-weight: bold;
      display: inline-block; }
  .header-bottom {
    margin-top: 15.5rem;
    padding-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .header-bottom-item {
      padding-top: 2.5rem;
      border-top: 3px solid white;
      width: calc(25% - 22.5px);
      opacity: 0.6;
      position: relative;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      cursor: pointer; }
      .header-bottom-item:not(:first-child) {
        margin-left: 3rem; }
      .header-bottom-item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: #e98283;
        width: 7rem;
        height: 3px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0; }
    .header-bottom-item.is-active, .header-bottom-item:hover {
      opacity: 1; }
      .header-bottom-item.is-active::before, .header-bottom-item:hover::before {
        opacity: 1; }
    .header-bottom-number {
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: bold; }
    .header-bottom-text {
      margin-left: 1rem;
      font-size: 1.8rem;
      text-transform: uppercase; }
  @media screen and (max-width: 1023px) {
    .header {
      min-height: unset; }
      .header .header-bottom {
        margin-top: 10.5rem; }
      .header .header-content {
        padding-top: 10rem; }
      .header .header-content-main {
        font-size: 10rem; } }
  @media screen and (min-width: 768px) {
    .header-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .header-menu-link {
      color: white;
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 4px solid transparent; }
      .header-menu-link:hover {
        color: #f1d98a;
        border-bottom-color: #f1d98a; } }
  @media screen and (max-width: 767px) {
    .header .header-bottom {
      margin-top: 7rem; }
    .header .header-content {
      padding-top: 7rem; }
    .header .header-bottom-text {
      display: none; }
    .header .header-content-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .header .header-content-main {
      font-size: 5rem;
      margin-bottom: 3rem;
      padding-bottom: 3rem; }
    .header .header-bottom-item {
      padding-top: 1.5rem;
      text-align: center; }
    .header .header-bottom-item::before {
      width: 33%; }
    .header .header-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 300px;
      background-color: white;
      display: inline-block;
      padding: 20px 25px;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.25s linear;
      transition: -webkit-transform 0.25s linear;
      transition: transform 0.25s linear;
      transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
      .header .header-menu-link {
        color: #333333;
        width: 100%;
        padding: 15px;
        border-radius: 4px; }
        .header .header-menu-link:hover {
          color: white;
          background-color: #f1d98a; }
      .header .header-menu-icon {
        display: block;
        color: #333333;
        padding: 15px; }
        .header .header-menu-icon:hover {
          color: #e98283; }
      .header .header-menu-item {
        margin-bottom: 1rem; }
    .header .header-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .header .header-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  text-align: center;
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto; }
  .block-box-caption {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .block-box-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    padding-bottom: 3.5rem;
    position: relative; }
    .block-box-heading::after {
      content: "";
      background-color: #e98283;
      width: 6rem;
      height: 3px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0; }
  .block-box-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #999999;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 10.5rem; }
  @media screen and (max-width: 767px) {
    .block-box-caption {
      font-size: 2rem; }
    .block-box-heading {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem; }
    .block-box-desc {
      font-size: 1.4rem;
      margin-bottom: 4rem; } }

.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: #fff; }
  .about-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem; }
  .about-item {
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
    .about-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #95e1d3;
      -webkit-transition: -webkit-transform 0.25s linear;
      transition: -webkit-transform 0.25s linear;
      transition: transform 0.25s linear;
      transition: transform 0.25s linear, -webkit-transform 0.25s linear;
      z-index: -1; }
  .about-item:hover {
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
    .about-item:hover .about-content {
      visibility: visible;
      opacity: 1; }
    .about-item:hover::after {
      -webkit-transform: translate(1rem, 1rem);
      transform: translate(1rem, 1rem); }
  .about-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(241, 217, 138, 0.8)));
    background: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(241, 217, 138, 0.8));
    z-index: 2;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    right: 0;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    text-align: center; }
  .about-icon {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .about-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
    width: 75%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; }
  @media screen and (max-width: 767px) {
    .about {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .about-list {
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        row-gap: 2.5rem;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 1rem;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always; }
        .about-list::-webkit-scrollbar {
          display: none; }
      .about-image {
        width: 100%; }
      .about-item {
        scroll-snap-align: center; } }

.number {
  background-color: #95e1d3; }
  .number-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .number-item {
    padding: 8.5rem 3.5rem;
    color: white;
    border-left: 1px solid white;
    text-align: center;
    width: 20%; }
    .number-item:last-child {
      border-right: 1px solid white; }
    .number-item-count {
      font-size: 7.2rem;
      font-weight: bold;
      margin-bottom: 2rem; }
    .number-item-text {
      text-transform: uppercase;
      line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .number-item {
      padding: 5rem 1rem; }
      .number-item-count {
        font-size: 5rem;
        margin-bottom: 1rem; }
      .number-item-text {
        font-size: 1.4rem; } }
  @media screen and (max-width: 767px) {
    .number-list {
      display: block; }
    .number-item {
      width: 100%;
      padding: 3rem 1rem;
      border-left: none;
      border-bottom: 1px solid white; }
      .number-item:last-child {
        border-right: none;
        border-bottom: none; } }

.service {
  padding: 11rem 0 12rem;
  background-color: white; }
  .service-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .service-list:first-child {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 5rem;
      padding-bottom: 5rem; }
  .service-item {
    width: calc(100% / 3 - calc(8rem / 3));
    margin-top: 6.5rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .service-item-icon {
      width: 3.5rem;
      height: 3.5rem;
      color: #95e1d3;
      margin: 0 3rem; }
    .service-item-info {
      width: calc(100% - 9.5rem);
      height: 100%;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .service-item-title {
      font-weight: 500;
      color: #333333;
      margin-bottom: 1rem;
      text-transform: uppercase;
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 100%;
      white-space: pre-wrap;
      word-break: break-word; }
    .service-item-desc {
      color: #999999;
      line-height: 1.6;
      font-weight: 300;
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif; }
  @media screen and (max-width: 1023px) {
    .service {
      padding: 5rem 0; }
      .service-list {
        display: block; }
      .service-item {
        width: 100%; } }

.device {
  padding-top: 11rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.2))), url(../../images/img-device-bg.png) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), url(../../images/img-device-bg.png) no-repeat center/cover; }
  .device-media {
    text-align: center; }
  .device-image {
    display: inline-block;
    margin: 0 auto -9.3rem; }
  @media screen and (max-width: 767px) {
    .device {
      padding-top: 5rem; }
      .device-image {
        max-width: 80%;
        margin-bottom: -4.6rem; } }
  @media screen and (max-width: 413px) {
    .device-image {
      margin-bottom: -3.6rem; } }

.wedo {
  padding: 10rem 0; }
  .wedo-container {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .wedo-content, .wedo-image {
    width: calc(50% - 1.5rem); }
  .wedo-image {
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo-item.is-active .wedo-item-content {
    display: block; }
  .wedo-item:not(:last-child) {
    margin-bottom: 1rem; }
  .wedo-item-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 1.5rem;
    border: 1px solid #e5e5e5;
    cursor: pointer; }
  .wedo-item-icon {
    margin-right: 1.5rem; }
  .wedo-item-title {
    text-transform: uppercase;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    word-break: break-all;
    padding-right: 1.5rem; }
  .wedo-item-arrow {
    margin-left: auto;
    color: #cccccc;
    font-size: 3rem; }
  .wedo-item-content {
    padding: 2rem;
    border: 1px solid #e5e5e5;
    border-top: none;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    color: #999999;
    line-height: 1.6;
    font-weight: 300;
    display: none; }
  .wedo-item-text {
    overflow-y: auto;
    height: 14rem;
    padding-right: 2rem; }
    .wedo-item-text::-webkit-scrollbar {
      width: 1.25rem; }
    .wedo-item-text::-webkit-scrollbar-track {
      background-color: #f5f5f5;
      border-radius: 6px; }
    .wedo-item-text::-webkit-scrollbar-thumb {
      background-color: #95e1d3;
      outline: none;
      border-radius: 6px; }
  @media screen and (max-width: 767px) {
    .wedo {
      padding: 5rem 0; }
      .wedo-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .wedo-container > img {
          margin-bottom: 2rem; }
        .wedo-container > * {
          width: 100%; } }

.quote {
  padding: 6.5rem 0;
  background-color: #f8f8f8; }
  .quote-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .quote-arrow {
    color: #ccc;
    cursor: pointer;
    font-size: 3rem;
    padding: 1rem 2rem; }
  .quote-item {
    padding: 0 5.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .quote-icon {
    width: 15rem;
    height: 15rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border: 3px solid #95e1d3;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 6rem; }
  .quote-image {
    width: 22rem;
    height: 22rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 2.5rem; }
  .quote-desc {
    font-size: 2.5rem;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    color: #999999;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    word-break: break-all; }
  .quote-author {
    font-family: "Kaushan Script", cursive;
    font-size: 2.5rem;
    padding-left: 8rem;
    position: relative; }
    .quote-author::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      width: 6rem;
      height: 3px;
      background-color: #e98283;
      border-radius: 3px; }
  @media screen and (max-width: 767px) {
    .quote {
      padding-top: 3rem;
      padding-bottom: 3rem; }
      .quote-arrow {
        display: none; }
      .quote-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0; }
      .quote-icon {
        width: 10rem;
        height: 10rem;
        margin-right: 0; }
        .quote-icon > img {
          max-width: 50%; }
      .quote-info {
        margin-top: 3rem; }
      .quote-desc {
        display: block;
        font-size: 1.6rem; }
      .quote-author {
        font-size: 2rem; } }
  @media screen and (max-width: 767px) {
    .quote-icon {
      margin-right: 2rem; } }

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slick-arrow {
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  color: #cccccc;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem 2rem; }

.team {
  padding: 10rem 0; }
  .team-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .team-item {
    width: calc(100% / 3 - 2rem); }
  .team-image {
    width: 100%;
    height: 47rem;
    -o-object-fit: cover;
    object-fit: cover; }
  .team-info {
    padding: 0 1.5rem 3rem;
    margin-top: 3rem;
    text-align: center; }
  .team-name {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    word-break: break-all; }
  .team-position {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: #999999; }
  .team-social {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .team-social-item:not(:first-child) {
      border-left: 1px solid #e98283; }
    .team-social-link {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 6rem;
      height: 6rem;
      color: #e98283;
      font-size: 2rem;
      background-color: #f1d98a;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
      .team-social-link:hover {
        color: white;
        background-color: #e98283; }
  @media screen and (max-width: 1023px) {
    .team {
      padding: 5rem 0; }
      .team-list {
        display: -ms-grid !important;
        display: grid !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        grid-auto-columns: 55%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        -webkit-column-gap: 2.5rem;
        -moz-column-gap: 2.5rem;
        column-gap: 2.5rem;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 1rem;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always; }
        .team-list::-webkit-scrollbar {
          display: none; }
        .team-list > * {
          scroll-snap-align: center;
          width: auto; } }
  @media screen and (max-width: 767px) {
    .team-image {
      height: 40rem;
      -o-object-position: top;
      object-position: top; }
    .team-list {
      display: -ms-grid !important;
      display: grid !important;
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
      grid-auto-columns: 75%;
      grid-auto-flow: column;
      -ms-grid-columns: unset;
      grid-template-columns: unset;
      -webkit-column-gap: 2.5rem;
      -moz-column-gap: 2.5rem;
      column-gap: 2.5rem;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding: 1rem;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always; }
      .team-list::-webkit-scrollbar {
        display: none; }
      .team-list > * {
        scroll-snap-align: center;
        width: auto; } }

.team-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(241, 217, 138, 0.8)));
  background: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(241, 217, 138, 0.8));
  z-index: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.team-main {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  .team-main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear;
    z-index: -1; }
  .team-main:hover {
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
    .team-main:hover .team-content {
      opacity: 1;
      visibility: visible; }
    .team-main:hover::after {
      -webkit-transform: translate(1rem, 1rem);
      transform: translate(1rem, 1rem); }

.brand {
  padding: 8rem 0;
  background-color: #f8f8f8; }
  @media screen and (max-width: 767px) {
    .brand {
      padding: 3rem 0; } }

.work {
  padding-top: 10rem; }
  .work-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 78rem; }
  .work-column {
    width: 25%; }
  .work-item {
    height: 50%; }
  .work-item--full {
    height: 100%; }
  .work-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .work-content {
    color: white;
    text-align: center;
    padding: 1.5rem; }
  .work-icon {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .work-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    word-break: break-all; }
  @media screen and (max-width: 1600px) {
    .work-list {
      height: 60rem; } }
  @media screen and (max-width: 1279px) {
    .work-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden;
      height: auto; }
    .work-column {
      width: 50%; }
    .work-item {
      height: 42rem; }
    .work-item--full {
      height: 84rem; } }
  @media screen and (max-width: 767px) {
    .work {
      padding-top: 5rem; }
      .work-column {
        width: 100%; }
      .work-item {
        height: auto; }
      .work-item--full {
        height: auto; } }

.work-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(241, 217, 138, 0.8)));
  background: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(241, 217, 138, 0.8));
  z-index: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.work-item {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  .work-item:hover .work-content {
    opacity: 1;
    visibility: visible; }

.people {
  padding: 10rem 0 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80") no-repeat center/cover; }
  .people-list {
    margin-top: 9rem;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4rem; }
  .people-item {
    width: calc(100% / 2 - 4rem);
    margin-bottom: 7rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .people-avartar {
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .people-info {
    padding-left: 3rem; }
  .people-name {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .people-job {
    display: inline-block;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    color: #333333;
    position: relative; }
    .people-job::after {
      content: "";
      background-color: #e98283;
      width: 6rem;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 3px; }
  .people-desc {
    font-style: normal; }
  @media screen and (max-width: 1023px) {
    .people {
      padding: 5rem 0 1rem; }
      .people-item {
        width: 100%;
        margin-bottom: 4rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (max-width: 767px) {
    .people-list {
      padding: 0;
      margin-top: 6rem; }
    .people-avatar {
      width: 8rem;
      height: 8rem; } }

.story {
  padding: 10rem 0;
  background-color: #fff; }
  .story-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .story-item {
    width: calc(100% / 3 - 2rem); }
  .story-image {
    width: 100%;
    height: 24rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 2rem; }
  .story-media {
    position: relative; }
  .story-date {
    background-color: #95e1d3;
    padding: 1.5rem 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: #fff;
    position: absolute;
    bottom: 1rem;
    left: -1rem; }
    .story-date-number {
      font-weight: bold;
      font-size: 3rem; }
    .story-date-text {
      color: #fff; }
  .story-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.4; }
  .story-desc {
    font-style: normal;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5; }
  .story-meta {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .story-meta-item {
      margin-right: 2rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .story-meta-icon {
      margin-right: 3px;
      color: #95e1d3; }
  @media screen and (max-width: 1023px) {
    .story {
      padding: 5rem 0; }
      .story-image {
        height: 14rem; }
      .story-date {
        padding: 1rem 1.5rem; }
      .story-title {
        font-size: 1.2rem; }
      .story-desc {
        font-size: 1.3rem; }
        .story-desc-inner {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          max-width: 100%;
          white-space: pre-wrap;
          word-break: break-word; } }
  @media screen and (max-width: 767px) {
    .story {
      padding-bottom: 0; }
      .story-list {
        display: block; }
      .story-item {
        width: 100%;
        margin-bottom: 5rem; }
      .story-image {
        height: auto; }
      .story-date {
        left: -5px;
        bottom: 5px; } }

.map {
  padding: 6rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../../images/img-map.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../../images/img-map.png") no-repeat center/cover; }
  .map-icon {
    margin-left: auto;
    margin-right: auto; }
  .map-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .map-heading {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: #e98283;
    text-transform: uppercase;
    padding: 2rem 0 2rem;
    position: relative; }
    .map-heading::after {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 6rem;
      height: 3px;
      bottom: 0;
      background-color: #e98283; }
  @media screen and (max-width: 767px) {
    .map-heading {
      padding: 1.5rem 0 1.5rem; } }

.footer-top {
  padding: 7.5rem 0 7rem;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.footer-column {
  width: calc(25% - 2.5rem); }
  .footer-column:first-child {
    width: calc(40% - 2.5rem); }
  .footer-column:nth-child(2) {
    width: calc(35% - 2.5rem); }

.footer-heading {
  text-transform: uppercase;
  font-weight: 500;
  height: 4rem;
  margin-bottom: 2rem;
  display: inline-block; }
  .footer-heading--logo {
    text-transform: none;
    font-weight: 600;
    font-size: 4.6rem;
    color: #cccccc; }

.footer-desc {
  font-style: normal;
  margin-bottom: 4.5rem;
  margin-top: 2rem; }

.footer-follower {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5; }
  .footer-follower > strong {
    font-weight: bold;
    font-size: 1.8rem; }

.footer-social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 3.5rem; }
  .footer-social-icon {
    color: #95e1d3;
    margin-left: 1.5rem;
    font-size: 2rem; }

.footer-form {
  width: 100%;
  max-width: 38rem;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .footer-form-input {
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-right: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    width: 100%; }
  .footer-form-button {
    color: white;
    background-color: #95e1d3;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    padding: 1.5rem 3.5rem;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

.footer-blog {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .footer-blog:not(:last-child) {
    margin-bottom: 3rem; }
  .footer-blog-image {
    width: 12rem;
    height: 8rem;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .footer-blog-info {
    padding-left: 2rem; }
  .footer-blog-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.4;
    font-weight: 600;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; }

.footer-images {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-bottom: 2rem; }
  .footer-images-more {
    color: #333333; }

.footer-image {
  width: calc(100% / 3 - 2px);
  margin-left: 2px;
  margin-bottom: 2px;
  padding-bottom: calc(100% / 3);
  height: 0;
  position: relative; }
  .footer-image > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; }

.footer-bottom {
  padding: 2.5rem 0;
  text-align: center;
  border-top: 1px solid #e5e5e5; }
  .footer-bottom > span {
    color: #e98283; }

@media screen and (max-width: 1023px) {
  .footer-top {
    display: block;
    padding-bottom: 3rem;
    padding-top: 3rem; }
  .footer-column:not(:nth-child(999)) {
    width: 100%;
    margin-bottom: 3rem; }
  .footer-image {
    width: calc(100% / 3 - 1rem);
    margin-left: 1rem;
    margin-bottom: 1rem; } }
